<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="autoload.php" colors="true">
	<testsuites>
		<testsuite name="FML">
			<directory>tests</directory>
			<exclude>tests/Components/CheckBoxDesignTest.php</exclude>
			<exclude>tests/Components/CheckBoxTest.php</exclude>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-html" target="build/logs/coverage.html"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
	<filter>
		<whitelist>
			<directory suffix=".php">FML</directory>
		</whitelist>
	</filter>
</phpunit>
