<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="autoload.php" colors="true" verbose="true" debug="true"
	beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutChangesToGlobalState="true">
	<testsuites>
		<testsuite name="FML">
			<directory>tests</directory>
			<exclude>tests/Components/CheckBoxDesignTest.php</exclude>
			<exclude>tests/Components/CheckBoxTest.php</exclude>
			<exclude>tests/Components/ValuePickerTest.php</exclude>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">FML</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="build/logs/coverage.html"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
	<php>
		<ini name="error_reporting" value="E_ALL"/>
		<ini name="display_errors" value="On"/>
		<ini name="display_startup_errors" value="On"/>
	</php>
</phpunit>
